header{
    background: url("../img/background.jpg");
    background-size: cover;
    min-height: 800px;
    
}
.portada-seccion-3{
  background: url("../img/portada-seccion-2.jpg");
  background-size: cover;
  min-height: 800px;
  
}

.portada-seccion-4{
  background: url("../img/portada-seccion-3.jpg");
  background-size: cover;
  min-height: 400px;
  colo
}




  P {
    font-family: 'Noto Sans', sans-serif;
  }
  .navbar-brand{

    font-family: 'Parisienne', cursive;

  }
  .card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 1;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }